.container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
}

.body {
 // background-image: url('https://getwallpapers.com/wallpaper/full/d/9/1/243965.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}




